# Prerequisites
*.d
*.tlog
*.idb
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Timber/Debug/
Timber/.vs/
Timber/Debug/Timber.exe
Timber/Debug/Timber.exe.recipe
Timber/Debug/Timber.ilk
Timber/Debug/Timber.log
Timber/Debug/Timber.pdb
Timber/Debug/Timber.tlog/CL.command.1.tlog
Timber/Debug/Timber.tlog/CL.read.1.tlog
Timber/Debug/Timber.tlog/CL.write.1.tlog
Timber/Debug/Timber.tlog/Timber.lastbuildstate
Timber/Debug/Timber.tlog/link.command.1.tlog
Timber/Debug/Timber.tlog/link.read.1.tlog
Timber/Debug/Timber.tlog/link.write.1.tlog
imber/Debug/Timber.vcxproj.FileListAbsolute.txt
Timber/Debug/vc143.idb
Timber/Debug/vc143.pdb
